<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="utils.kkutils">

    <application
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.1"
        android:allowBackup="true"
        android:supportsRtl="true" >


        <activity  android:name="utils.kkutils.parent.KKNormalFragmentActivity"  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"   android:screenOrientation="portrait" tools:replace="android:screenOrientation"></activity>



        <!--用于更新 和图片拾取的-->
        <provider
            android:name=".common.KKFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"  />


    <!--安装更新权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

</manifest>
